.page-Contact-template .contact__button .button {
    font-size: calc(var(--font-heading-scale) * 2rem);
    font-weight: calc(100 + var(--font-body-weight));
    text-transform: uppercase;
    color: var(--tundora);
    letter-spacing: 1.8px;
    min-height: initial;
    padding: 1.8rem 6rem;
    border-radius: 1.6rem;
  }
  .page-Contact-template .contact__button .button:before, .page-Contact-template .contact__button .button:after, .page-Contact-template .contact__button .button:hover:before, .page-Contact-template .contact__button .button:hover:after {
    border: 0;
    box-shadow: none;
  }
  .page-Contact-template .contact .title {
    font-size: calc(var(--font-heading-scale) * 3.8rem);
    line-height: calc(1 + 0.2 / var(--font-body-scale));
    color: var(--gray);
  }
  .page-Contact-template .contact  .contact__content p {
    font-size: calc(var(--font-heading-scale) * 2rem);
    color: var(--boulder);
  }