.image-with-bg-full {
    position: relative;
}
.image-with-bg-full .image-with-text__content {
    padding: 6rem 0 6rem 5rem;
  }
  .image-with-bg-full .image-with-text__content a {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
    font-weight: calc(100 + var(--font-body-weight));
    text-transform: uppercase;
    color: var(--plain-white);
    letter-spacing: 1.8px;
    min-height: initial;
    padding: 1.8rem 6rem;
    border-radius: 1.2rem;
  }