/* Contact Page Style */

.page-Contact-template .contact__button {
  margin-top: 3rem;
}
.page-Contact-template .contact__button .button {
    font-size: calc(var(--font-heading-scale) * 2rem);
    font-weight: calc(100 + var(--font-body-weight));
    text-transform: uppercase;
    color: var(--tundora);
    letter-spacing: 1.4px;
    min-height: initial;
    padding: 1.2rem 6rem;
    border-radius: 1.4rem;
  }
  .page-Contact-template .contact__button .button:before, 
  .page-Contact-template .contact__button .button:after, 
  .page-Contact-template .contact__button .button:hover:before, 
  .page-Contact-template .contact__button .button:hover:after, 
  .page-Contact-template .contact #ContactForm .field:before, 
  .page-Contact-template .contact #ContactForm .field:after, 
  .page-Contact-template .contact #ContactForm .field:hover:before, 
  .page-Contact-template .contact #ContactForm .field:hover:after {
    border: 0;
    box-shadow: none;
  }
  .page-Contact-template .contact .title {
    font-size: calc(var(--font-heading-scale) * 3.8rem);
    line-height: calc(1 + 0.2 / var(--font-body-scale));
    color: var(--gray);
    margin-bottom: 2rem;
  }
  .page-Contact-template .contact  .contact__content p {
    font-size: calc(var(--font-heading-scale) * 2rem);
    color: var(--boulder);
    margin: 0 0 7rem;
  }
  .page-Contact-template .contact #ContactForm {
    max-width: 68rem;
    margin: 0 auto;
  }
  .page-Contact-template .contact #ContactForm .field .field__input {
    color: var(--boulder);
    border: 1px solid var(--silver);
    height: 4.9rem;
  }
  .page-Contact-template .contact #ContactForm .field .field__input:focus ~ .field__label {
    font-size: calc(var(--font-heading-scale) * 1rem);
  }
  .page-Contact-template .contact #ContactForm .field .field__label {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
    font-weight: calc(100 + var(--font-body-weight));
    text-transform: uppercase;
    letter-spacing: normal;
  }
  .page-Contact-template .contact #ContactForm .field .text-area {
    min-height: 20rem;
  }

  /* About Page Template */
  .About-page-template {
    position: relative;
  }
  .About-page-template:before {
    position: absolute;
    content: '';
    background: #000;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40%;
}

  .About-page-template .overlay_color {
    position: absolute;
    content: 'test';
    background: #000;
    top: 0;
    bottom: 0;
    width: 40%;
    height: 10px;
    left: 0;
}

  @media screen and (max-width: 1199px){
    .main_navigation_section .list-menu--inline {
      margin-top: 1.9rem;
    }
    .main_navigation_section .header__menu-item {
      font-size: calc(var(--font-heading-scale) * 1.7rem);
      letter-spacing: 1px;
      margin: 0 2.4rem;
    }
    .section-template--18110043816246__main-padding {
      padding-top: 4rem;
      padding-bottom: 0;
    }
    .innerpage-title-section {
      border-bottom: 2rem solid #eccac2;
    }
  }