.page-Contact-template .contact__button .button {
    font-size: calc(var(--font-heading-scale) * 2rem);
    font-weight: calc(100 + var(--font-body-weight));
    text-transform: uppercase;
    color: var(--tundora);
    letter-spacing: 1.4px;
    min-height: initial;
    padding: 1.8rem 6rem;
    border-radius: 1.6rem;
  }
  .page-Contact-template .contact__button .button:before, 
  .page-Contact-template .contact__button .button:after, 
  .page-Contact-template .contact__button .button:hover:before, 
  .page-Contact-template .contact__button .button:hover:after, 
  .page-Contact-template .contact #ContactForm .field:before, 
  .page-Contact-template .contact #ContactForm .field:after, 
  .page-Contact-template .contact #ContactForm .field:hover:before, 
  .page-Contact-template .contact #ContactForm .field:hover:after {
    border: 0;
    box-shadow: none;
  }
  .page-Contact-template .contact .title {
    font-size: calc(var(--font-heading-scale) * 3.8rem);
    line-height: calc(1 + 0.2 / var(--font-body-scale));
    color: var(--gray);
    margin-bottom: 2rem;
  }
  .page-Contact-template .contact  .contact__content p {
    font-size: calc(var(--font-heading-scale) * 2rem);
    color: var(--boulder);
    margin: 0 0 7rem;
  }
  .page-Contact-template .contact #ContactForm {
    max-width: 68rem;
    margin: 0 auto;
  }
  .page-Contact-template .contact #ContactForm .field .field__input {
    color: var(--boulder);
    border: 1px solid var(--silver);
    height: 4.9rem;
  }
  .page-Contact-template .contact #ContactForm .field .field__input:focus ~ .field__label {
    font-size: calc(var(--font-heading-scale) * 1rem);
  }
  .page-Contact-template .contact #ContactForm .field .field__label {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
    font-weight: calc(100 + var(--font-body-weight));
    text-transform: uppercase;
    letter-spacing: normal;
  }
  .page-Contact-template .contact #ContactForm .field .text-area {
    min-height: 20rem;
  }