.image-with-bg-full {
    position: relative;
}
.image-with-bg-full .image-with-text__content {
    padding: 6rem 0 6rem 5rem;
  }
  .image-with-bg-full .image-with-text__content a {
    font-size: calc(var(--font-heading-scale) * 1.6rem);
    text-transform: uppercase;
  }