.footer__content-bottom-wrapper {
    justify-content: center;
}
.footer__content-bottom {
    background: .footer__content-bottom {
    border-top: solid 0.1rem rgba(var(--color-foreground),.08);
    padding-top: 3rem;
};
    border-top: solid 0.1rem rgba(var(--color-foreground),.08);
    padding: 4rem 0;
}
.policies li:before {
    content: "|";
    padding: 0 0.8rem;
}