.footer:not(.color-background-1) {
    border-top: 3rem solid #ECCAC2;
}
.footer__content-top {
    padding-bottom: 8rem;
}
.footer__content-bottom-wrapper {
    justify-content: center;
}
.footer__content-bottom {
    background: #767676;
    border-top: solid 0.1rem rgba(var(--color-foreground),.08);
    padding: 4rem 0;
}
.footer_main_section .footer-block__heading {
    font-size: calc(var(--font-heading-scale) * 2rem);
    text-transform: capitalize;
    color: #fafafa;
    line-height: normal;
}
.footer-block__newsletter {
    text-align: left;
}
.footer_main_section .footer-block__details-content li a, .footer_main_section .footer-block__details-content {
    font-size: calc(var(--font-heading-scale) * 1.6rem);
    line-height: calc(1 + 0.6 / var(--font-body-scale));
    color: #fafafa;
    text-decoration: none;
}
.footer_main_section .footer-block__details-content li a {
    text-transform: uppercase;
    line-height: calc(2 / var(--font-body-scale));
}
.footer_main_section .footer-block__details-content li a:hover {
    color: #fafafa;
}
.footer_main_section .newsletter-form {
    max-width: 100%;
    width: 100%;
    position: initial;
    display: block;
}
.footer_main_section  .newsletter-form__field-wrapper {
    max-width: 100%;
    width: 100%;
}
.footer_main_section .newsletter-form__field-wrapper .field {
    margin: 1.8rem 0 3.5rem;
    border: 0;
    box-shadow: none;
}
.footer_main_section .newsletter-form__field-wrapper .field:before, .footer_main_section .newsletter-form__field-wrapper .field:after {
    border: 0;
    box-shadow: none;
}
.footer_main_section .newsletter-form__field-wrapper .field__input{
    font-size: calc(var(--font-heading-scale) * 1.6rem);
    font-weight: calc(100 + var(--font-body-weight));
    color: #ffffff;
    padding: 1.5rem;
    border: 2px solid #FAFAFA;
    box-shadow: none;
}
.footer_main_section .newsletter-form__field-wrapper .field__label {
    text-transform: uppercase;
    font-weight: calc(100 + var(--font-body-weight));
    color: #ffffff;
}
.footer_main_section .submit_btn .newsletter-form__button {
    font-size: calc(var(--font-heading-scale) * 1.6rem);
    position: initial;
    font-weight: calc(100 + var(--font-body-weight));
    width: auto;
    display: inline-block;
    text-transform: uppercase;
    background: #ECCAC2;
    padding: 1.5rem 5rem;
    border-radius: 1.2rem;
    letter-spacing: 1.2px;
}
.copyright__content {
    font-size: calc(var(--font-heading-scale) * 1.6rem);
}
.list-social__link {
    color: var(--lt-color-white);
    background: #9C9B9B;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 1rem;
}
.list-social__item .icon {
    height: 2rem;
    width: 2rem;
}
.policies {
    display: flex;
    margin: 2.7rem 0 1.3rem;
}
.policies li a, .copyright__content, .copyright__content a {
    letter-spacing: 1.2px;
    color: var(--lt-color-white);
}
.policies li a:hover, .copyright__content a:hover {
    text-decoration: none;
    color: var(--lt-color-white);
}
.policies li:before {
    content: "|";
    color: var(--lt-color-white);
}
.policies li:first-child:before {
    content: "";
}

