.footer__content-bottom-wrapper {
    justify-content: center;
}
.footer__content-bottom {
    background: #767676;
    border-top: solid 0.1rem rgba(var(--color-foreground),.08);
    padding: 4rem 0;
}
.policies li a {
    color: rgb(var(--lt-color-white));
}
.policies li:before {
    content: "|";
    padding: 0 0.8rem;
}